.main{
    height: 85%;
}
.container-deposits {
    margin-top: 40px;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 40px;
}
.right-deposits {
    background-color: white;
    border-radius: 10px;
}
.left-deposits {
    background-color: white;
    border-radius: 10px;
}
