node_modules
*/.env
*/node_modules
hashPath.json
merkleTree.json
*/Prover.toml
*/proofs/*

# dependencies, yarn, etc
# yarn / eslint
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache
.DS_Store
.vscode
.idea
.vercel
